__pycache__/
.ipynb_checkpoints/
.pytest_cache/
.venv/
venv/
venv_projeto5/
.env
*.pyc
*.pyo
*.pyd
build/
dist/
*.egg-info/

data_root.env
external/
data/raw/
data/interim/
data/processed/
artifacts/
outputs/
